body {
    background: #007979;
}
.page-header {
    text-align: center;
    color: #FF6161;
}
.bingoSheet {
    width: 75vh;
    height: 75vh;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 15vh 15vh 15vh 15vh 15vh;
    grid-template-columns: 15vh 15vh 15vh 15vh 15vh;
}
.bingoSheet > div {
    font-size: 12pt;
    padding: 10px;
    border-style: outset;
    text-align: center;
}
.box {
    background: #29D1D1;

}
.selected {
    background: #FFAA00;
    font-weight: bold;
}
